@font-face {
    font-family: "Kanit";
    src:
        local("Kanit"),
        url("./assets/font/Kanit-ThinItalic.ttf") format("ttf"),
        url("./assets/font/Kanit-SemiBold.ttf") format("ttf");
}

:root {
    --light: #FFFCF2;
    --medium-light: #CCC5B9;
    --medium: #EB5E28;
    --medium-dark: #403D39;
    --dark: #252422;

    --main-font: "Kanit";
    --font-semi-bold: 600;
    --font-light: 100;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--dark);
    font-family: var(--main-font);
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: var(--font-semi-bold);
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-light);
    font-style: italic;
}

.main__header {
    height: 100vh;
    display: grid;
    grid-template:
        '. nav'
        'name canvas';
}

.main__nav {
    grid-area: nav;
}

.nav__list {
    width: 100%;
    padding: 1rem 0;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list__item {
    margin: 0 1rem;
}

.nav__list__item__link {
    color: var(--light);
    transition: ease-in 0.1s;
}

.nav__list__item__link:hover {
    color: var(--medium);
}

.nav__list__item__link--lang {
    color: var(--medium-dark);
}

.name__container {
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.name__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}

.name__main {
    color: var(--light);
}

.name__work {
    color: var(--medium);
}

.name__me {
    border-radius: 50%;
    width: 15rem;
    margin-top: 2rem;
}

.canvas__container {
    grid-area: canvas;
    width: 100%;
    height: 100%;
}

/* #my_canvas {
    background-color: blue;
} */